<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col" *ngFor="let noticia of listNoticias" >
        <div class="card">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
                <span class="badge bg-primary mb-1"> {{noticia.source.name}} </span>
                <h5 class="card-title"> {{ noticia.title }} </h5>
                <p class="card-text"> {{ noticia.author }} </p>
                <a [href]="noticia.url" class="btn btn-primary btn-block" target="_blank">Ver noticia</a>
            </div>
        </div>
    </div>
</div>